extends layout

block content
  br
  img(src='images/logo-yell-small.jpg')
  
  if (!user)
    p
    p.lead Please log in if you wish to participate in any debates
    a(href="/login") 
      button.btn.btn-primary(type='button') Login
    &nbsp;
    a(href="/register") 
      button.btn.btn-default(type='button') Register
  if (user)
    p
    p Nice to see you again #{user.username}
    a(href="/logout") 
      button.btn.btn-default(typ='button') Logout
  
  div.seperate
  p DebateTable © 2016  -  William Dunlop
