extends ../layout

block content
  h1.
    #{title}
  a(href='/debates/new')
    button.btn.btn-primary(type='button') Begin a Debate
  br
  br
  br
  ul.alldebates
    - each debate, i in debates
      div.eaitem#eadebate
        p Topic: 
          = debate.topic
        p Type: 
          = debate.comparitive
        p Created by: 
          = debate
        p  
          a(href='/debates/#{debate._id}') 
            button.btn.btn-default(type='button') View
            &nbsp;
          if (user)
            if (debate.user._id == user._id)
              a(href='/debates/#{debate.id}/edit')
                button.btn.btn-default(type='button') Edit
              &nbsp;
              form(action='/debates/#{debate._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                input(type='hidden',value='DELETE',name='_method')
                button.btn.btn-danger(type='submit').
                  Delete 
                
        br
        br
    
