extends ../layout

block content
  h1.
    #{title}
  form#formAddDebate(name="adddebate",method="post",action="/debates")
    p Topic: 
      input#inputTopic(type="text",placeholder="Debate Topic",name="topic")
    p Comparitive?
      input#inputComparitive(type="checkbox",name="comparitive")
    
    div#comparitiveOptions(style="display: none;")
      p Side 1: 
        input#inputRed(type="text",placeholder="Side 1",name="red")
      p Side 2:
        input#inputBlue(type="text",placeholder="Side 2",name="blue")
    
    p
      input#inputUser(type="hidden",value="#{user._id}",name="user")
    
    
    p
      button#btnSubmit(type="submit") Start Debate
      
  
  script.
    function compOptionsVisible() {
      
       var d = document.getElementById("comparitiveOptions");
       if(d.style.display == 'block' ) {
         d.style.display = 'none';
       } else if (d.style.display == 'none') {
         d.style.display = 'block'
       }  else {
         d.style.display = 'none';
       };
       var redin = document.getElementById("inputRed");
       var bluein = document.getElementById("inputBlue");
       if(inputComparitive.checked){
         redin.value = " ";
         bluein.value = " ";
       } else {
         redin.value = "For";
         bluein.value = "Against";
       }

     };
     
     function comparitiveSet(){
       var redin = document.getElementById("inputRed");
       var bluein = document.getElementById("inputBlue");
       redin.value = "For";
       bluein.value = "Against";
     };
     
    document.getElementById("inputComparitive").addEventListener("change", compOptionsVisible);
    
    document.onload = comparitiveSet()
