extends ../layout

block content 
  h1.
    #{title}
    
    
  div.debateContainer
    div.debateTop
    div#red.debateSide
      p #{debate.red}
        
    div#blue.debateSide
      h4 #{debate.blue}
      
      

      
